[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyment = "*"
pytest = "*"
pytest-env = "*"
pylint = "*"
pipenv = "*"
pipenv-setup = "*"
pytest-datafiles = "*"

[packages]
dvas = {editable = true,path = "."}

[requires]
python_version = "3.8"
