[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipenv = "*"
pytest = "*"
pytest-datafiles = "*"
matplotlib = "*"

[packages]
tinydb = "*"
pandas = "*"
jsonschema = "*"
pyyaml = "*"
mdtpyhelper = "*"
dotty-dict = "*"
ruamel-yaml = "*"
pampy = "*"
scipy = "*"
pint = "*"
numericalunits = "*"
plotly = "*"
peewee = "*"

[requires]
python_version = "3.7.5"
